@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

header {
    display: flex;
    justify-content: space-between;
    background: url(../image/Banniere_oiseau.jpg) center/cover;
    height: 15rem;
}

.logonav {
    height: 8rem;
    width: 8rem;
    margin: 1rem 0 0 3rem;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: 55%;
    background-color: #FFFFFF;
    margin: 2rem 2rem 0 0;
}

nav a {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: black;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    text-align: center;
    margin: 3rem 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

/* CSS de la page d acceuil */

.lesboxacceuil {
    display:flex;
    justify-content: space-around;
    text-align: center;
}

.box1 {
    margin-bottom: 5rem;
    width: 65%;
    background-color: #C9E7B1;
    padding-top: 2rem;
}


.box2 {
    width: 30%;
}

.lesboxacceuil img {
    width: 90%;
}

.lesboxacceuil a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
    display:block;
    text-align:center;
    margin-bottom: 2rem;
}

/* CSS de la page Carte */

.container {
    display: flex;
    justify-content: space-around;
}

.carte {
    background-color: #C9E7B1;
    min-height: 40rem;
    width: 65%;
    text-align: center;
    padding-top: 1rem;

}

.cartedescription {
    min-height: 35rem;
    width: 30%;
    background: #C9E7B1;
    text-align: center;
    padding-top: 1rem;
}

.commentaire {
    width: 95%;
    margin: 1rem auto 0 auto;
    background: #D9D9D9;
    padding: 1rem;
}

.bold {
    font-weight: bold;
}

/* MENU BURGER */


.burger {
    display: none;
    background: #C9E7B1;
    height: 5rem;
    width: 5rem;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 21px;
    left: 100px;
    cursor: pointer;
}
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #C9E7B1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #C9E7B1;
  }


@media screen and (min-width: 768px) and (max-width: 1000px) {
    nav {
        display: none;
    } 
    
    
    .burger {
        display: block;
        top: 44px;
        left: 610px;
    }
}

@media screen and (max-width: 767px) {
    nav {
        display: none;
    } 
    
    .burger {
        display: block;
        top: 44px;
        left: 249px
    }
    
    /* Acceuil */
    .lesboxacceuil {
        display: block;
    }

    .box1 {
        width: 95%;
    }

    .box2 {
        width: 95%;
    }

    /* Carte */

    .container {
        display: block;
    }
    
    .carte {
        min-height: 10rem;
        width: 95%;
        margin: 1rem auto;
    }
    
    .cartedescription {
        min-height: 10%;
        width: 95%;
        margin: 1rem auto;
    }

    
    
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 20px;
    };
    
    h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 16px;
    }
}