@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

header {
    display: flex;
    justify-content: space-between;
    background: url(../image/Banniere_oiseau.jpg) center/cover;
    height: 15rem;
}

.logonav {
    height: 8rem;
    width: 8rem;
    margin: 1rem 0 0 3rem;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: 55%;
    background-color: #FFFFFF;
    margin: 2rem 2rem 0 0;
}

nav a {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: black;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    text-align: center;
    margin: 3rem 0;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: black;
    text-align: center;
};


h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

.burger {
    display: none;
    background: #C9E7B1;
    height: 5rem;
    width: 5rem;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 21px;
    left: 100px;
}

.bold {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.formulaire {
    background: #C9E7B1;
    width: 40%;
    min-height: 30rem;
}

.partie1 {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.champtext {
    margin-bottom: 1rem;
    height: 2rem;
    width: 100%;
}

.donnee {
    width: 50%;
    align-items: center;
}

.champ {
    width: 40%;
}

.button {
    display: block;
   text-align: end;
   margin-bottom: 1rem;
}

.container img {
    display: block;
    margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    nav {
        display: none;
    } 
    
    .burger {
        display: block;
        top: 44px;
        left: 610px;
    }
    
}

@media screen and (max-width: 767px) {
    nav {
        display: none;
    } 
    
    .burger {
        display: block;
        top: 44px;
        left: 249px
    }

    .container {
        display: block;
    }
    
    .formulaire {
        width: 95%;
        margin: 1rem auto;
        padding-top: 1rem;
    }
    
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 20px;
    };
    
    h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 16px;
    }
}