@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    background: url(../image/Banniere_oiseau.jpg) center/cover;
    height: 15rem;
}

.logonav {
    height: 8rem;
    width: 8rem;
    margin: 1rem 0 0 3rem;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: 55%;
    background-color: #FFFFFF;
    margin: 2rem 2rem 0 0;
    align-items: center
}

nav a {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: black;
}

main {
    
    list-style: none;
}
main texte
{
    display: flex;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    text-align: center;
    margin: 3rem 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

.bold {
    font-weight: bold;
    margin-top: 1rem;
}


#article{

    display: flex;
    justify-content: space-between;
    margin-right: 0rem;
    align-items:content;
    

}

#article p{
    display: table-cell;;
    width: 50%; 
    font-family: 'Montserrat', sans-serif;

}
#lienarticle{
    width: 25%;
    margin: 5rem;
    background-color: #C9E7B1;;
    padding-block: 5%;
    margin-top: 0px;

    
}
#lienarticle img{
    padding-inline: 12%;
    max-width: 100%;
}
#lienarticle p{
    display: flex;
    width: 50%;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
#coqlakour-removebg-preview.png {
    marge-gauche : center ;
    marge-droite : center 
}
#premier{
    width: 65%;
    justify-content: center;
    background-color: #C9E7B1;
}
#premier img {
    width: 99%;
    margin: 5px;
}
deuxieme{
    width: 30%;
    background-color: rgb(131, 236, 82);
    position: absolute;  
}
#deuxieme a{
    text-align: center;
    display:block;

}


.commentaire {
    width: 95%;
    margin: 1rem auto 0 auto;
    background: #D9D9D9;
    padding: 1rem;
}

/* MENU BURGER */


.burger {
    display: none;
    background: #C9E7B1;
    height: 5rem;
    width: 5rem;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 21px;
    left: 100px;
    cursor: pointer;
}
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #C9E7B1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #C9E7B1;
  }

@media screen and (min-width: 768px) and (max-width: 1000px) {
    nav {
        display: none;
    } 
    
    
    .burger {
        display: block;
        top: 44px;
        left: 610px;
    }
    
}


@media screen and (max-width: 767px) {
    nav {
        display: none;
    } 
    
    .burger {
        display: block;
        top: 44px;
        left: 249px
    }
    
    #article {
    display: block;
     }
    
    #premier {
        width: 95%;
        margin: 1rem auto
    }

    #lienarticle {
        width: 95%;
        margin: 1rem auto
    }
    
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 20px;
    };
    
    h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 16px;
    }
}