@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    background: url(../image/Banniere_oiseau.jpg) center/cover;
    height: 15rem;
}

header img {
    height: 8rem;
    width: 8rem;
    margin: 1rem 0 0 3rem;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: 55%;
    background-color: #FFFFFF;
    margin: 2rem 2rem 0 0;
    align-items: center
}

nav a {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}
main {
    
    list-style: none;
}
main texte
{
    display: flex;
}
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    text-align: center;
    margin: 3rem 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

#article{

    display: flex;
    justify-content: space-between;
    margin-right: 0rem;
    align-items::content;
    

}

#article p{
    display: table-cell;;
    width: 50%; 
    font-family: 'Montserrat', sans-serif;

}
#lienarticle{
    width: 25%;
    margin: 5rem;
    background-color: #C9E7B1;;
    padding-block: 5%;
    margin-top: 0px;

    
}
#lienarticle img{
    padding-inline: 12%;
}
#lienarticle p{
    display: flex;
    width: 50%;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
#coqlakour-removebg-preview.png {
    marge-gauche : center ;
    marge-droite : center 
}
#premier{
    width: 65%;
    justify-content: center;
    background-color: #C9E7B1;
}
#premier img {
    width: 99%;
    margin: 5px;
}
deuxieme{
    width: 30%;
    background-color: rgb(131, 236, 82);
    position: absolute;  
}
#deuxieme a{
    text-align: center;
    display:block;

}


#couleur2 {
    background-color: gainsboro;
}